@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
  --first-color: #272a31;
  --second-color: #ec5242;
  --third-color: #d3d3d3;
  --small-font: 1.8rem;
  --medium-font: 2rem;
  --large-font: 2.4rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.bg-dark {
  background: var(--first-color);
}

.bg-white {
  background: #fff;
}

.btn {
  color: var(--third-color);
  font-size: 0.8rem;
  outline: none;
  border: none;
  font-weight: 700;
}

.btn-large {
  background: var(--second-color);
  padding: 2rem;
  display: inline-block;
  margin: 0 auto;
}

.header {
  position: relative;
  width: 100%;
}

.logo {
  width: 5rem;
  height: 2rem;
}

.header .logo {
  display: none;
  visibility: hidden;
}

.logo a {
  font-size: var(--medium-font);
  color: var(--second-color);
}

.icon {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 1000;
  margin-bottom: 2rem;
}

.icon i {
  font-size: var(--large-font);
  color: var(--first-color);
}

.icon .close {
  display: none;
  visibility: hidden;
}

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 1.2rem;
  transform: translateX(-100%);
  visibility: hidden;
  transition: transform 0.8s ease-in-out;
  z-index: 900;
  background-color: #ec5242;
}

.nav-item {
  font-size: var(--medium-font);
}

.nav-item:first-child {
  margin: 2rem 0;
}

.nav-link {
  color: var(--first-color);
}

.active .icon .hamburger {
  display: none;
  visibility: hidden;
}

.active .icon .close {
  display: block;
  visibility: visible;
}

.active .nav-list {
  transform: translateX(0);
  visibility: visible;
}

.hero-container {
  padding: 5rem 0;
  background: var(--third-color);
}

.hero-content,
.hero-about-content {
  width: 90%;
  margin: 0 auto;
}

.hero-content__text,
.hero-about-content__text {
  font-size: 1.8rem;
  color: var(--second-color);
}

.hero-content__heading,
.hero-about-content__heading {
  font-size: 2.5rem;
  color: var(--second-color);
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.hero-content__desc,
.hero-about-content__desc {
  font-size: 0.8rem;
  word-spacing: 2px;
  color: var(--first-color);
  margin-bottom: 1rem;
  padding: 1.25rem;
  border: 2px solid #fff;
  line-height: 1.8;
  font-weight: 700;
}

.hero-content__date {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.hero-content__place {
  font-weight: 300;
  font-size: 1.2rem;
}

.container {
  padding: 2rem 0;
}

.program__heading {
  text-align: center;
  color: var(--third-color);
  font-size: 1.75rem;
  position: relative;
  margin-bottom: 2rem;
}

.program__heading::after {
  content: " ";
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  background: var(--second-color);
  width: 5rem;
  height: 0.1rem;
  transform: translateX(-50%);
}

.program {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.program-list-item {
  background: var(--first-color);
  opacity: 0.8;
  padding: 1.5rem;
  margin-bottom: 2.5rem;
}

.program-list-item-container {
  display: grid;
  grid-template-columns: 3rem 100px auto;
  grid-column-gap: 0.74rem;
  align-items: center;
}

.program-list-item-container__icon i {
  font-size: 3rem;
  color: #fff;
}

.program-list-item-container__title {
  color: var(--second-color);
  font-size: 1.2rem;
  font-weight: 700;
}

.program-list-item-container__text {
  color: #fff;
  font-size: 0.85rem;
  text-align: left;
}

.speakers {
  width: 90%;
  margin: 0 auto;
}

.speakers-heading {
  text-align: center;
  color: var(--first-color);
  font-size: 1.75rem;
  position: relative;
  margin-bottom: 2rem;
}

.speakers-heading::after {
  content: " ";
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  background: var(--second-color);
  width: 5rem;
  height: 0.1rem;
  transform: translateX(-50%);
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}

.speakers-list-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-bottom: 1rem;
  align-items: center;
  grid-column-gap: 1rem;
}

.speakers-list-item__heading {
  font-weight: bold;
  color: var(--first-color);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.speakers-list-item__role {
  color: var(--second-color);
  font-style: italic;
  font-size: 0.8rem;
  position: relative;
  margin-bottom: 1.2rem;
}

.speakers-list-item__role::after {
  content: " ";
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  background: var(--first-color);
  width: 1rem;
  height: 0.1rem;
}

.speakers-list-item__text {
  font-size: 0.8rem;
}

.partner {
  width: 90%;
  margin: 0 auto;
}

.partner-heading {
  text-align: center;
  color: var(--third-color);
  font-size: 1.75rem;
  position: relative;
  margin-bottom: 1rem;
}

.partner-heading::after {
  content: " ";
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  background: var(--second-color);
  width: 2rem;
  height: 0.1rem;
  transform: translateX(-50%);
}

.partners-list {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partner-list-item i {
  font-size: 5rem;
  color: var(--third-color);
}

.footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.footer .logo {
  margin-right: 2rem;
}

.rights {
  font-size: 1rem;
  font-weight: 700;
}

.hero-about-content {
  text-align: center;
}

.hero-about-content-contact {
  width: 80%;
  margin: 0 auto;
}

.hero-about-content-contact p {
  font-size: 0.85rem;
  line-height: 1.8;
}

.hero-about-content-contact a {
  color: var(--first-color);
  text-decoration: underline;
  font-weight: bold;
  font-size: 0.85rem;
  line-height: 1.8;
}

.summits {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.summits-heading {
  text-align: center;
  color: var(--first-color);
  font-size: 1.75rem;
  position: relative;
  margin-bottom: 1.5rem;
}

.summits-heading::after {
  content: " ";
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  background: var(--second-color);
  width: 2rem;
  height: 0.1rem;
  transform: translateX(-50%);
}

.summits-text {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.9rem;
}

.summits-list-item {
  position: relative;
}

.summits-list-item img {
  object-fit: cover;
  height: 300px;
  width: 300px;
}

.summits-list-item .overlay {
  position: absolute;
  top: 0;
  left: 50%;
  width: 300px;
  height: 300px;
  background: var(--second-color);
  opacity: 0.7;
  transform: translateX(-50%);
}

.summits-list-item__details {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.summits-list-item__details h6 {
  font-size: 1.6rem;
}

.summits-list-item__details p {
  font-size: 1rem;
}

.summits-list-item:not(:last-child) {
  margin-bottom: 1rem;
}
