@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
  --first-color: #272a31;
  --second-color: #ec5242;
  --third-color: #d3d3d3;
  --small-font: 1.8rem;
  --medium-font: 2rem;
  --large-font: 2.4rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.bg-dark {
  background: var(--first-color);
}

.bg-white {
  background: #fff;
}

.btn {
  color: #fff;
  font-size: 0.8rem;
  outline: none;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.btn-large {
  background: var(--second-color);
  padding: 2rem;
  display: inline-block;
  margin: 0 auto;
}

.header {
  position: relative;
  width: 100%;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  z-index: 1000;
  height: 3rem;
}

.logo {
  width: 5rem;
  height: 2rem;
}

.header .logo {
  display: none;
  visibility: hidden;
}

.logo a {
  font-size: var(--medium-font);
  color: var(--second-color);
}

.icon {
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  cursor: pointer;
}

.icon i {
  font-size: var(--large-font);
  color: var(--first-color);
}

.icon .close {
  display: none;
  visibility: hidden;
}

.top-nav {
  display: none;
  visibility: hidden;
}

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 1.2rem;
  transform: translateX(-100%);
  visibility: hidden;
  z-index: 900;
  background-color: var(--third-color);
  transition: transform 0.8s ease-in-out;
}

.nav-item {
  font-size: var(--medium-font);
  margin: 2rem 0;
}

.nav-link {
  color: var(--first-color);
}

.nav-link:active {
  color: var(--second-color);
}

.nav-link:hover {
  text-decoration: underline var(--second-color);
}

.active .icon .hamburger {
  display: none;
  visibility: hidden;
}

.active .icon .close {
  display: block;
  visibility: visible;
}

.active .nav-list {
  transform: translateX(0);
  visibility: visible;
}

.hero-container {
  padding: 5rem 0;
  background: var(--third-color);
}

.hero-content,
.hero-about-content {
  width: 90%;
  margin: 0 auto;
}

.hero-content__text,
.hero-about-content__text {
  font-size: 1.8rem;
  color: var(--second-color);
}

.hero-content__heading,
.hero-about-content__heading {
  font-size: 1.5rem;
  color: var(--second-color);
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.hero-content__desc,
.hero-about-content__desc {
  font-size: 0.8rem;
  word-spacing: 2px;
  color: var(--first-color);
  margin-bottom: 1rem;
  padding: 1.25rem;
  border: 2px solid #fff;
  line-height: 1.8;
  font-weight: 700;
}

.hero-content__date {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.4rem;
}

.hero-content__place {
  font-weight: 300;
  font-size: 1.2rem;
}

.container {
  padding: 2rem 0;
}

.program__heading {
  text-align: center;
  color: var(--third-color);
  font-size: 1.75rem;
  position: relative;
  margin-bottom: 2rem;
}

.program__heading::after {
  content: " ";
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  background: var(--second-color);
  width: 5rem;
  height: 0.1rem;
  transform: translateX(-50%);
}

.program {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.program-list-item {
  opacity: 0.8;
  margin-bottom: 2rem;
  width: 100%;
  cursor: pointer;
  border: 1px solid #fff;
}

.program-list-item-container {
  display: grid;
  grid-template-columns: 3rem 100px 1fr;
  grid-column-gap: 0.5rem;
  align-items: center;
}

.program-list-item-container__icon i {
  font-size: 1rem;
  color: #fff;
}

.program-list-item-container__title {
  color: var(--second-color);
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
}

.program-list-item-container__text {
  color: #fff;
  font-size: 0.45rem;
  text-align: left;
}

.speakers {
  width: 90%;
  margin: 0 auto;
}

.speakers-heading {
  text-align: center;
  color: var(--first-color);
  font-size: 1.75rem;
  position: relative;
  margin-bottom: 2rem;
}

.speakers-heading::after {
  content: " ";
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  background: var(--second-color);
  width: 5rem;
  height: 0.1rem;
  transform: translateX(-50%);
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}

.speakers-list-item {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-bottom: 1.5rem;
  align-items: center;
  grid-column-gap: 1rem;
}

.speakers-list-item__heading {
  font-weight: bold;
  color: var(--first-color);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.speakers-list-item__role {
  color: var(--second-color);
  font-style: italic;
  font-size: 0.8rem;
  position: relative;
  margin-bottom: 1.2rem;
}

.speakers-list-item__role::after {
  content: " ";
  position: absolute;
  bottom: -0.8rem;
  left: 0;
  background: var(--first-color);
  width: 1rem;
  height: 0.1rem;
}

.speakers-list-item__text {
  font-size: 0.8rem;
}

.partner {
  width: 90%;
  margin: 0 auto;
}

.partner-heading {
  text-align: center;
  color: var(--third-color);
  font-size: 1.75rem;
  position: relative;
  margin-bottom: 1rem;
}

.partner-heading::after {
  content: " ";
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  background: var(--second-color);
  width: 2rem;
  height: 0.1rem;
  transform: translateX(-50%);
}

.partners-list {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.partner-list-item i {
  font-size: 5rem;
  color: var(--third-color);
}

.footer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.footer .logo {
  margin-right: 2rem;
}

.rights {
  font-size: 1rem;
  font-weight: 700;
}

.hero-about-content {
  text-align: center;
}

.hero-about-content-contact {
  width: 80%;
  margin: 0 auto;
}

.hero-about-content-contact p {
  font-size: 0.85rem;
  line-height: 1.8;
}

.hero-about-content-contact a {
  color: var(--first-color);
  text-decoration: underline;
  font-weight: bold;
  font-size: 0.85rem;
  line-height: 1.8;
}

.summits {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.summits-heading {
  text-align: center;
  color: var(--first-color);
  font-size: 1.75rem;
  position: relative;
  margin-bottom: 1.5rem;
}

.summits-heading::after {
  content: " ";
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  background: var(--second-color);
  width: 2rem;
  height: 0.1rem;
  transform: translateX(-50%);
}

.summits-text {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1.9rem;
}

.summits-list-item {
  position: relative;
}

.summits-list-item img {
  object-fit: cover;
  height: 300px;
  width: 300px;
}

.summits-list-item .overlay {
  position: absolute;
  top: 0;
  left: 50%;
  width: 300px;
  height: 300px;
  background: var(--second-color);
  opacity: 0.7;
  transform: translateX(-50%);
}

.summits-list-item__details {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.summits-list-item__details h6 {
  font-size: 1.6rem;
}

.summits-list-item__details p {
  font-size: 1rem;
}

.summits-list-item:not(:last-child) {
  margin-bottom: 1rem;
}

@media screen and (min-width: 400px) {
  .hero-content__heading,
  .hero-about-content__heading {
    font-size: 2.2rem;
  }

  .program-list-item {
    padding: 0.5rem;
  }

  .program-list-item-container {
    grid-column-gap: 0.75rem;
  }

  .program-list-item-container__icon i {
    font-size: 3rem;
  }

  .program-list-item-container__title {
    font-size: 1.2rem;
  }

  .program-list-item-container__text {
    font-size: 0.9rem;
    line-height: 1.4;
  }
}

@media screen and (min-width: 768px) {
  .header .logo {
    display: block;
    visibility: visible;
  }

  .icon {
    display: none;
    visibility: hidden;
  }

  .nav {
    display: flex;
    align-items: center;
    padding: 1.5rem 5rem;
    height: 4.5rem;
  }

  .top-nav {
    display: flex;
    background-color: var(--first-color);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5rem;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 5rem;
    visibility: visible;
  }

  .top-nav__item {
    margin-right: 1rem;
  }

  .top-nav__link {
    color: var(--third-color);
    font-size: 0.8rem;
    font-weight: 700;
  }

  .nav-list {
    position: relative;
    visibility: visible;
    height: initial;
    z-index: 0;
    transform: translateX(0);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: none;
    padding: 0;
    transition: none;
  }

  .nav-item {
    margin: 0 1rem 0 0;
  }

  .nav-link {
    font-size: 1rem;
    color: var(--first-color);
    font-weight: 700;
  }

  .nav-link:active {
    color: var(--second-color);
  }

  .nav-link:hover {
    text-decoration: underline var(--second-color);
  }

  .hero-container {
    padding-top: 10rem;
  }

  .hero-content,
  .hero-about-content,
  .program,
  .speakers,
  .partner {
    width: 80%;
  }

  .program-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .program-list-item {
    width: 70%;
  }

  .program-list-item-container {
    grid-template-columns: 1fr;
    grid-row-gap: 0.75rem;
  }

  .program-list-item-container__title {
    text-align: center;
    font-size: 1.2rem;
  }

  .program-list-item-container__text {
    text-align: center;
    font-size: 1.2rem;
  }

  .partners-list {
    justify-content: space-between;
  }

  .hero-about-content-contact {
    width: 90%;
  }

  .summits-list {
    display: flex;
    justify-content: center;
  }

  .summits-list-item {
    margin-right: 1.5rem;
  }

  .summits-list-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 991px) {
  .nav {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .top-nav {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .hero-content,
  .program,
  .speakers,
  .partner,
  .footer,
  .hero-about-content {
    width: 80%;
  }

  .hero-content__heading,
  .hero-about-content__heading {
    width: 70%;
    letter-spacing: 10px;
  }

  .hero-content__desc {
    width: 50%;
    font-size: 1rem;
  }

  .hero-about-content__heading {
    margin: 0 auto 2.5rem;
  }

  .speakers-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .speakers-list-item__role {
    font-size: 1rem;
  }

  .footer {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .program-list-item {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    margin-right: 0.25rem;
    border: 1px solid transparent;
    transition: border 0.5s ease-in-out;
  }

  .program-list-item:hover {
    border-color: #fff;
  }

  .program-list {
    flex-direction: row;
    justify-content: space-between;
  }

  .program-list-item-container {
    font-size: 0.9rem;
  }

  .program-list-item-container__text {
    text-align: center;
    font-size: 0.8rem;
  }

  .speakers-list-item__text {
    font-size: 1rem;
  }
}
